# Global Postfix configuration file.

# SOFT BOUNCE
#soft_bounce = no

# LOCAL PATHNAME INFORMATION
queue_directory = /var/spool/postfix
command_directory = /usr/sbin
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix

# QUEUE AND PROCESS OWNERSHIP
mail_owner = postfix
#default_privs = nobody

# INTERNET HOST AND DOMAIN NAMES
myhostname = {{ centos_postfix_server_fqdn }}
mydomain = {{ centos_postfix_server_domain }}

# SENDING MAIL
# mail sent from this host locally, gets this domain name
myorigin = $mydomain

# RECEIVING MAIL
inet_interfaces = all

# Enable IPv4, and IPv6 if supported
inet_protocols = all

# What domains to receive mail for, none are local
mydestination =

# REJECTING MAIL FOR UNKNOWN LOCAL USERS
local_recipient_maps =
unknown_local_recipient_reject_code = 550

# TRUST AND RELAY CONTROL
#mynetworks_style = host
#relay_domains = $mydestination

# INTERNET OR INTRANET
relayhost =

# SMTP AUTH
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/dovecot-auth
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymousm, noplaintext, nodictionary
smtpd_sasl_local_domain = $mydomain

# SMTP TLS
smtpd_tls_auth_only = yes
smtpd_sasl_tls_security_options = noanonymous
smtpd_tls_cert_file = /etc/letsencrypt/live/{{ centos_postfix_server_domain }}/cert.pem
smtpd_tls_key_file = /etc/letsencrypt/live/{{ centos_postfix_server_domain }}/privkey.pem
smtpd_tls_CAfile = /etc/letsencrypt/live/{{ centos_postfix_server_domain }}/chain.pem
smtpd_tls_security_level = may
smtpd_tls_loglevel = 1

# SENDER CONTROLS
smtpd_delay_reject = yes
smtpd_helo_restrictions = permit_mynetworks, permit_sasl_authenticated, reject_non_fqdn_helo_hostname, permit

smtpd_relay_restrictions = permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination

#smtpd_recipient_restrictions =  permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination, check_policy_service unix:private/spfpolicy
smtpd_recipient_restrictions =  permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination
smtpd_sender_restrictions =  permit_mynetworks, permit_sasl_authenticated, reject_sender_login_mismatch
smtpd_reject_unlisted_sender = yes

# MAPS
smtpd_sender_login_maps = hash:/etc/postfix/map_sender_login

# REJECTING UNKNOWN RELAY USERS
#relay_recipient_maps = hash:/etc/postfix/relay_recipients

# INPUT RATE CONTROL
#in_flow_delay = 1s

# ADDRESS REWRITING

# ADDRESS REDIRECTION (VIRTUAL DOMAIN)

# "USER HAS MOVED" BOUNCE MESSAGES

# TRANSPORT MAP

# ALIAS DATABASE
alias_maps = hash:/etc/aliases

# ADDRESS EXTENSIONS (e.g., user+foo)
#recipient_delimiter = +

# DELIVERY TO MAILBOX
virtual_transport = lmtp:unix:private/dovecot-lmtp
#dovecot_destination_recipient_limit = 1
virtual_mailbox_domains = {{ postfix_hosted_domains | join(",") }}
virtual_alias_maps = hash:/etc/postfix/map_virtual_alias

# JUNK MAIL CONTROLS
#header_checks = regexp:/etc/postfix/header_checks

# FAST ETRN SERVICE
#fast_flush_domains = $relay_domains

# SHOW SOFTWARE VERSION OR NOT
smtpd_banner = $myhostname ESMTP $mail_name
#smtpd_banner = $myhostname ESMTP $mail_name ($mail_version)

# PARALLEL DELIVERY TO THE SAME DESTINATION
#local_destination_concurrency_limit = 2
#default_destination_concurrency_limit = 20

# DEBUGGING CONTROL
debug_peer_level = 2
#debug_peer_list = 127.0.0.1
#debug_peer_list = some.domain
debugger_command =
	 PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
	 ddd $daemon_directory/$process_name $process_id & sleep 5

# INSTALL-TIME CONFIGURATION INFORMATION
sendmail_path = /usr/sbin/sendmail.postfix
newaliases_path = /usr/bin/newaliases.postfix
mailq_path = /usr/bin/mailq.postfix
setgid_group = postdrop
html_directory = no
manpage_directory = /usr/share/man
